fastapi
uvicorn[standard]
python-dotenv
psycopg2-binary
pandas
numpy
scikit-learn
mlxtend
prophet
google-generativeai
passlib[bcrypt]
python-jose[cryptography]
python-multipart
slowapi
email-validator
plotly